{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    ["react"]
  ],
  "plugins": [
    "syntax-dynamic-import"
  ]
} 
/* {
  "presets": [
      "env",
      "react"
  ],
  "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread"
  ],
  "test": [
      "jest"
  ]
} */