
<div style="margin-top: 25px;">
  <h1>List View (Built on Angular)</h1>
  <table>
    <thead>
      <td>ID</td>
      <td>First_name</td>
      <td>Last_name</td>
      <td>Email</td>
      <td>Details</td>
    </thead>
    <tbody>
      <tr *ngFor="let person of listData">
        <td>{{person.id}}</td>
        <td>{{person.first_name}}</td>
        <td>{{person.last_name}}</td>
        <td>{{person.email}}</td>
        <td><a href="/#/detail/{{person.id}}">Click for details</a></td>
      </tr>
    </tbody>

  </table>
</div>